
#trending{
    width:25vw;
    display:block;
    float:right;
    margin-left:2vw;
}
#trending-head{
    position:fixed;
    top:5px;
    width:inherit;
    border:1px solid transparent;
    border-radius:3vw;
    background-color:#f4f4f4;
}
#trending-head .fa-search{
 margin-left:10px;
}
#trending-head input{
    border:none;
    outline:none;
    background-color:inherit;
    margin:10px;
}
#trending-head input:focus{
    background-color:white;
}
#trending-body{
    margin-top:60px;
    width:inherit;
    overflow:auto;
    border:1px solid transparent;
    border-radius:20px 20px 0 0;
    background-color:#f4f4f4;
    padding:5%;
}
#trending-body div:first-child{
    font-weight:bold;
    font-size:20px;
}
#trending-body>div:not(#trending-body>div:first-child){
    padding:5px;
}
#trending-body>div:not(#trending-body>div:first-child):hover{
    background-color: #e9e9e9;
}


#trending-footer>div:first-child,#trending-footer>div:last-child{
    color:var(--main);
    background-color:#f4f4f4;
    border:1px solid transparent;
    border-radius:0 0 20px 20px;
    padding:10px;
    clear:both;
}
#trending-footer>div:last-child:hover{
    background-color: #e9e9e9;
}
#trending-footer div:nth-child(2){
    height:5vh;
}
#trending-footer div:nth-child(3){
    background-color:#f4f4f4;
    border:1px solid transparent;
    border-radius: 20px 20px 0px 0px;
    padding:20px;
    font-weight: 700;
    font-size:120%;
}
.trending-footer-item{
    position:sticky;
    padding:10px;
    background-color:#f4f4f4;
    margin:0%;
    overflow:auto;
    
}
.trending-footer-item:hover{
    
    background-color:#e9e9e9;
    
}
.trending-footer-item img{
    width:20%;
    height:20%;
    padding:5px;
    border:1px solid transparent;
    border-radius:50%;
    float:left;
}
.trending-footer-item:first-child{
    display:inline-block;
    padding:5px;
}
.trending-footer-item .fa-check-circle{
    color:var(--main);
}
.trending-footer-item span{
    color:#aaa;
    font-size:smaller;
}
.trending-footer-item div:last-child{
    display:inline-block;
    position:absolute;
    right:10px;
    top:10px;
    padding:5px 15px!important;
    color:white;
    background-color:black !important;
    border:1px solid transparent;
    border-radius:20px !important;
    font-size:15px !important;
}


/*#trending-footer{
    position:sticky !important;
    top:50px;
}